label {
  color: blue;
  font-weight: bold;
  background-color: antiquewhite;
}

input {
  color: black;
  font-weight: bold;
}

body {
  background-color: blue;
}

form {
  background-color: black;
}
