@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/3066b11123e63381b8e2aa554b18bf32?family=Bauhaus+93+V1");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff0000
}

body {
    position: relative;
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 20;
}

.logo img {
    max-width: 60px;
    max-height: 60px;
    filter: invert(1);
    transition: transform 0.5 ease;
}

.logo:hover img {
    transform: rotate(540deg) scale(1.2);
    transition: transform 0.5s ease;
}

.menu {
    color: #ffffff;
    font-size: 2em;
}

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}

.nav li:hover a {
    color: var(--primary);
}

.search {
    position: relative;
    width: 130px;
    height: 40px;
    transition: 0.5s;
}

.search:hover {
    width: 300px;
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    padding: 0 10px 0 5px;
    backdrop-filter: blur(10px);
}

.search input::placeholder {
    color: #ffffff;
    text-transform: uppercase;
    transform: translateX(5px);
    font-weight: 300;
}

.search ion-icon {
    color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}